@import "normalize.css";
@import "common.css";

/* 第一块区域 */
.section:nth-child(1) {
  /*border: 2px solid #FFF;*/
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#intro-section {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  position: static;
  z-index: 0;
}
#intro-section > h1 {
  position: relative;
  z-index: 2;
}
.overlay {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav > a {
  padding: 10px;
}

/* 第二块区域 */
.section:nth-child(2) {
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.iphone-demo, .feature-description {
  /*border: 2px solid #FFF;*/
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

.iphone-demo > img:nth-child(2) {
  position: absolute;
  transform: translate(-50%, -50%) ;
  top: 50%;
  left: 50%;
  width: 253px;
  height: 449px;
}

.feature-description > p {
  /*border: 2px solid #FFF;*/
  width: 80%;
}

/* 第三块区域 */
.section:nth-child(3) {
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* 第四块区域 */
.section:nth-child(4) {
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}

.android-demo {
  top: 50%;
  left: 46%;
}

.android-demo > img {
  transform: rotate(-45deg) translate(-50%, -50%) ;
}

/* 滚动控制 */
#slider-control {
  position: fixed;
  top: 50%;
  left: 98%;
  padding: 3px;
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}
